.ramme {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 80%;
}

.bilderad {
  display: flex;
  width: 100%;
  height: 200px;
}

.bilderad img {
  flex: 1; /* hvert bilde tar lik plass i raden */
  height: 100%;
  object-fit: cover; /* beskjærer bildet for å fylle høyden/bredden */
  margin: 0;
  padding: 0;
  border: none;
  display: block; /* fjerner hvite mellomrom */
}

.bilderad img.top-center {
  object-position: top center; /* Øverste del av bildet vises */
}

 .mobilbilde {
  display: none;
}

@media (max-width: 700px) {
  .bilderad {
    display: none;
  }

  .header .blomst {
    display: none;
  }
  .header {
    flex-direction: column;
    height: auto;
  }
  .header .linkContainer {
    flex-direction: column; /* vertikal stabling */
    gap: 0.5rem; /* litt luft mellom lenkene */
    width: 100%; /* fyller ikke hele skjermen horisontalt */
    justify-content: center;
    align-items: center;
  }

  .header .linkContainer a {
    width: auto; /* bare så bred som teksten */
    text-align: center; /* sentrer teksten */
  }
  .header .blomst {
    margin-bottom: 0.5rem;
  }

  .mobilbilde {
    display: flex;
    height: 200px;
  }

  .mobilbilde img {
    flex: 1; /* hvert bilde tar lik plass i raden */
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    object-fit: cover; /* beskjærer bildet for å fylle høyden/bredden */
    display: block; /* fjerner hvite mellomrom */
  }
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* tillater at elementene går til neste linje */
  padding: 1rem 0; /* litt luft over og under */
}

.header .linkContainer a {
  display: inline-block;
  color: #5a5146;
  text-decoration: none; /* Removes the default underline */
  font-weight: bold; /* Makes the text bold */
}

.header .linkContainer a:hover {
  color: #8a4b3c;
  text-decoration: none; /* Removes the default underline */
  font-weight: bold; /* Makes the text bold */
}

.header .linkContainer a.active {
  color: #8a4b3c;
  border-bottom: 2px solid #8a4b3c; /* understrek aktiv lenke */
  padding-bottom: 2px; /* litt luft til understrek */
}

.header .blomst {
  height: 70px; /* Samme som header-høyden */
  overflow: hidden; /* Hindrer at bildet stikker utenfor */
}

.header .blomst img {
  height: 100%;
  object-fit: cover; /* eller 'cover' hvis du vil fylle helt */
  object-position: center;
  display: block; /* fjerner eventuelt mellomrom under bildet */
}

.header .linkContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 50%;
}

a {
  color: #8a4b3c;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

a:hover,
a:focus {
  color: #6f3b2f;
}