#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.frame {
  width: 600px;
}

.subFrame {
  border-bottom: 1px solid gray;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
